
h1 {
}

.slider {
    position: relative;
    height: 1em;
    width: 150px;
    overflow: hidden;
    margin-left: 12px;
}

.slider__word {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1em;
    transform: translateY(100%);
    animation: slide 10s linear infinite;
}

.slider__word:nth-child(2) {
    animation-delay: 3.32s;
}

.slider__word:nth-child(3) {
    animation-delay: 6.68s;
}

@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }
    15% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    45% {
        transform: translateY(-30%);
        opacity: 1;
    }
    100% {
        transform: translateY(-30%);
        opacity: 0.1;
    }
}

.square {
    position: relative;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.twitter:hover span:nth-child(1) {
    border: none;
    background: #00EC18;
}

.square span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.twitter:hover span:nth-child(2) {
    border: none;
    background: #00EC18;
}

.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid ;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.twitter:hover span:nth-child(3) {
    border: none;
    background: #00EC18;
}

.content {
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.draw-border{
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
    border: 2px solid;
    padding: 18px 28px;
}